
<nav>
    <ul class="breadcrumb2">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Signal Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.antennasMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Get the Best Indoor Antenna Reception</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>You will get the best TV reception with your indoor antenna when you apply the principles described in this article. First, it's good to have an idea of what the distance and direction is to the TV transmitters (see <a href="#antennafarm">Where Are The TV Transmitters?</a>). Knowing how far the transmitters are, you can make a few basic decisions.</p>
        <p>If you live in a major city, a simple, low cost antenna may be all that you need. On the other hand, if you live out in the country where the closest transmitter is more than 30 miles (50km) away, an indoor antenna may not work for you. You may be better off installing an outdoor antenna on your roof or chimney.</p>
        <p style="padding-left: 30px; padding-right: 30px;"><em>Even though this article is about indoor antennas, the basic principles discussed herein are applicable to outdoor antennas or aerials as well.</em></p>
        <h4>Symptoms of Poor TV Reception</h4>
        <p>Back in the 1900's, weak TV signals meant looking at the picture through random, salt-and-pepper noise, or "snow". Poor reception often meant the main path signal was mixed with reflected signals which caused "ghosts" in the picture. "Airplane flutter" from nearby aircraft might have created moving ghosts in the picture. Trucks on a nearby highway could have done the same.</p>
        <p>Today's TVs actually still have to deal with the same problems. But thanks to digital technology, much of these anomalies are corrected and compensated for using techniques involving digital signal processing. Your TV might actually be able to tell you how strong the signal is if this feature is available from the menu. But if the signal is really bad it will produce symptoms like this:</p>
        <ul>
            <li>
                Intermittently and irratically, the TV picture will freeze and the sound will stop, both together but momentarily, and then both will resume
            </li>
            <li>
                When the TV picture freezes it will look blocky, pixelly, or infested with small squares of unrelated random video patterns (macroblocking)
            </li>
            <li>
                The sound may studder, stammer, or come and go
            </li>
            <li>
                A message may appear on the screen saying something like "No connection", "Check Your Cable", "Invalid Signal Format" or "Weak Signal"
            </li>
        </ul>
        <p>These symptoms may not always mean poor reception, however. The article <a href="/IntSignal" target="_self">Intermittent TV Signals</a> lists other posibilities.</p>
        <h4>Improving TV Reception</h4>
        <p>There are things you can do to help improve poor indoor antenna reception. Tilting and rotating the antenna may make reception a little better or a little worse. You might find that moving the TV to a different part of the room would give you even better reception. But if you cannot move the TV, the only other thing you can do is to relocate the antenna.  And to adequately relocate it, you will need to connect a coaxial cable to it. This will allow you to extend its distance away from the TV so that it can be put in a new location that has better reception. If this is what you decide to do, the rest of this article will help you.</p>
        <p>Adding a length of cable may present the challenge of how to make it all look good, as far as the new location of the antenna in the room and routing the cable. Hiding the cable under the carpet, or running it along the floorboard are ways to make it less conspicuous. See <a href="#Walls">How To Run A Cable In A Wall</a> for more ideas.</p>
        <aside id='InLineAdDiv' style='text-align:center; '></aside>
        <h3 style="text-align: left;">Where Do Indoor Antennas Work Best</h3>
        <p>As real estate agents say, the most important thing is <em>location, location, location</em>!  Where you put your TV antenna is more important than how elaborate it is, or how much money you spent for it.</p>
        <p style="padding-left: 30px; padding-right: 30px;"><em>Note: If there are mountains or tall structures close by between your location and the transmitter, or if you live in a valley or alongside of a tall hill where the hillside is between you and the transmitter, your reception will most likely be poor no matter what you do.</em></p>
        <p>Below is a list of things you can do with your antenna to get better reception.  These factors are listed in order of their significance (most significant first). You may find that the best location for the antenna will require a considerable length of cable.</p>
        <h4>1. Get It High Off The Ground</h4>
        <p>With regard to location, there is nothing more important than elevation. The higher you can put the antenna relative to the earth, the better your TV reception will be. This is why many people find that their TV reception is better in an upstairs bedroom than in the downstairs livingroom.</p>
        <ul>
            <li>An antenna in the basement (below ground level) will not perform well unless you live within a mile of the TV transmitters.</li>
            <li>Unless you are surrounded by obsticles (explained in the next section), an antenna at ground level should work well if the TV transmitters are within several miles (10km) of your location, provided that all the other factors mentioned herein have been optimized.</li>
            <li>Upstairs above the main floor an indoor antenna should perform quite well, again provided that all the other factors mentioned herein have been optimized, and if the TV transmitters are less than 30 miles (50km) away.</li>
        </ul>
        <h4>2. Get It Close To An Outside Wall</h4>
        <p>Putting the antenna up against a window facing the direction of the transmitters would be an optimum location (see <a href="#antennafarm">Where Are The TV Transmitters?</a>). TV signals don't pass through solid objects easily. They weaken when they pass through walls, especially exterior walls with aluminum siding, or when there are steel beams in them. Outside obsticles like other buildings or even big trees will obscure the signal if they are in the "line of sight" with the transmitter.</p>
        <h4>3. Its Proximity With The TV</h4>
        <p>The antenna should be not touching the TV. Many TVs emit radio frequency noise that can be picked up by an antenna being too close to the TV. It may degrade reception. If the antenna needs to be near the TV, try to keep it above the TV, or at least a foot away if it needs to be along side the TV.</p>
        <p>Extending the antenna's distance from the TV with an additional length of cable may be desirable, but it should not go too far.  The longer the cable is, the more attenuation (loss of signal) you will incur. A 50ft (15m) length of the cable would be okay.  But if the antenna needs to be 100ft (30m) away, or more, consider connecting an inline signal booster (amplifier) to the antenna.</p>
        <h4>4. Its Orientation</h4>
        <p>The orientation of the antenna is the direction in which it faces and its angle (if any) with respect to the floor. With rabbit-ears, loops, and flat panel antennas, signals are best picked up when they are coming broadside toward the antenna. For other types of antennas, consult your owner's manual for more details. Since TV signals might be coming from more than one direction you may have to compromise.  Go with the orientation that maximizes the signal strength for the TV stations you will be watching the most.</p>
        <hr />
        <aside id='InLineAdDiv3' style='text-align:center; '></aside>
        <h3>TV Antenna Basics</h3>
        <p>Contrary to what the advertisers say, you don't need a special kind of antenna to receive digital or high-definition TV signals. The same antennas that were once used for receiving the analog channels of the late 1900's can also be used for receiving today's digital channels. This is because the frequencies and channel bands have not changed. Only the modulation of the TV station's carrier signal is different. Antennas don't care about modulation, but they are sensitive to the physical carrier frequency of the TV signal.</p>
        <figure style="text-align:center; margin-left:auto; margin-right:auto; margin-bottom:5px; width:300px;"><img alt="Example of a rabit ear antenna" src="@VirtualPathUtility.ToAbsolute("/Images/photos/v-shaped-rabbit-ears.JPG")" /></figure>
        <p>Here are two basic types of antennas:</p>
        <div style="padding-left: 30px; padding-right: 30px;">
            <h4>Loop Antennas</h4>
            <p>This is a single loop of bare wire that is usually 7-to-8-inches in diameter.  Loops are designed to receive channels whose physical frequencies are in the UHF band (channels 14 and above).</p>
            <h4>Telescopic Elements ("Rabbit Ears")</h4>
            <p>This is the most common type of antenna, consisting of two telescopic elements, commonly known as <em>rabbit ears</em>. They are primarily designed for picking up channels in the VHF band (channels 2 through 13), but can also pick up the UHF channels when not coupled with a loop.  The elements should be tilted away from each other at a modest angle, and extended to whatever length yields the best reception.</p>
        </div>
        <h3>How To Measure TV Signal Strength</h3>
        <p>All modern TVs and digital TV converter boxes have a menu option whereby the real-time, relative strength of the incoming signal can be displayed on the screen. If you can't seem to find it in the menu, refer to your TV's owner's manual.</p>
        <h3 id="Walls">How To Run A Cable In A Wall</h3>
        <p>There are ways to conceal the cable to minimize its unsightly appearance. Running a length down along the floorboard, then up through the wall and into attic is a common scenario. The end of the floorboard cable would screw into the coax connector on the faceplate mounted on the wall. Inside the wall, another cable connected to the back end of the faceplate connector would run up inside to wall through the subfloor of the attic (or the next floor), and to the antenna.</p>
        <p>
            Here are the steps on how to run a cable inside the wall as described in the above scenario:
            <ol>
                <li>Pick a section of wall away from any electrical switches and outlets.</li>
                <li>Go into the attic and drill a hole through the attic floor that leads to the inside of the wall. The hole should be wide enough for the fish tape and the cable to pass through easily. The drill bit will need to be at least 12 inches (30cm) long.</li>
                <li>Run a length of fish tape through the hole and down the wall.</li>
                <li>If the fish tape makes it all way down to where the wall plate is to be mounted, cut a square hole for the wall plate in the drywall using a utility knife.</li>
                <li>Find the end of the fish tape and pull it out of the wall.</li>
                <li>Make sure you have enough cable to make it all the way to the attic, and then some.</li>
                <li>Secure the end of the cable to the end of the fish tape with several turns of electrical tape, in such a way to anticipate pulling it though the hole you drilled in step 2.).</li>
                <li>Go back in the attic and pull the fish tape up until you have the cable in your hand.</li>
                <li>Connect the antenna to the end of the cable in the attic, and point the antenna in the desired direction.</li>
                <li>Go back downstairs. Connect the cable coming out of the wall to the back end of the cable connector on the faceplate, and mount the faceplate to the wall.</li>
            </ol>
        </p>
        <div id="antennafarm"></div>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <h3>Where Are The TV Transmitters?</h3>
        <p>As we've discussed, it's important to know the direction and distance of the TV station transmitters. One way to quickly find this out is to go to <a href="https://www.antennaweb.org/Address" target="_blank">AntennaWeb.org</a>.</p>
        <p>Over-the-air TV signals are broadcast from antennas that are typically mounted atop tall (i.e. 1000-foot) towers. Municipal zoning constraints may force TV and radio stations to group their towers into one small, suburban area. The broadcast industry calls this grouping of towers an <strong>antenna farm</strong>. This grouping actually makes it convenient for us when it comes to the orientation of our indoor TV antenna because all or most of the signals will be coming from one general direction.</p>
        <figure style="text-align:center;"><img alt="Example of an antenna farm" src="@VirtualPathUtility.ToAbsolute("/Images/photos/groupshot2003.jpg")" /></figure>
        <p>Antenna farms are not the only places that TV and radio transmitting antennas are found. In big cities, broadcasters often put their antennas atop tall buildings. And there are transmitter sites in rural areas where a station's 1000-foot tower might be the only tower seen for miles.</p>
    </section>
</article>