<nav>
    <ul class="breadcrumb2">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Sound Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.buzzingMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Buzzing Plasma TVs</h1>
         
    </header>
    <section itemprop="articleBody">
        <h3>Problem</h3>
        <p>A faint buzzing sound coming from your brand new plasma TV</p>
        <h3>Analysis</h3>
        <p>The noise you hear is probably something you wouldn't have heard when you were shopping because of all the ambient noise in the store. But now that the TV is in your home, the noise is evident.</p>
        <p>It is a fact that all plasma TVs produce a very faint buzz, like the noise you would hear coming from a fluorescent lamp.  For some models, you would have to put your ear right up to the screen to hear it. In very quiet environments the noise can be annoying, especially if you like keeping the volume turned down low, and if the TV is in a room that is otherwise extremely quiet and acoustically 'live' (e.g., having large areas of flat, bear walls and with no sound deadening objects, such as curtains, draperies, carpeting or plush furniture).</p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <p>But, what if your TV is producing such an obnoxious buzz that it is as loud as the audio coming from the speakers at normal listening levels. Maybe it is so loud, you can hear it across the room.  If the picture looks fine otherwise, then you are simply dealing with a noisy circuit board (or boards).  To isolate which board it is, put your ear close to the perimeter of the television and listen all the way around to hear where the buzzing is the loudest.  The culprit could be any or all of the above boards that are mentioned in the article under <a id="lnkBoards" href="/Boards#PowerBoards" target="_self">Names and Locations of the Power-Related Circuit Boards in Plasma TVs</a>.</p>
        <aside id='InLineAdDiv' style='text-align:center; '></aside>
        <p>If there is a loud buzz coming from the TV and there is no picture at all on the screen, then there is either a dead electrical short somewhere in one of the boards mentioned above, or the plasma screen has been damaged.  Take a close look at the screen and see if there are any cracks in it.  If the screen is cracked, it will need to be replaced. Refer to <a id="lnkShattered" href="/Shattered" target="_self">Cracked TV Screens</a> and <a id="lnkPlasma" href="/Plasma" target="_self">Replacing Plasma Display Panels</a>.</p>
        <p>If the screen looks good, then at least one circuit board will need to be replaced. This scenario goes beyond the scope of our discussion.  It would be best if you have the TV examined by a professional technician.</p>
        @Html.Partial("Article/GeekSquad")
    </section>
</article>
