
<style>
    #ArticleContainer > article > section > table {
        font-size: small;
        text-align: left;
        margin-left:auto;
        margin-right:auto;
        margin-top: 20px;
    }

    #ArticleContainer > article > section > table.articleTable tr td {
        border: 1px solid black;
        padding-left: 5px;
        padding-right: 5px;
    }
    #ArticleContainer > article > section caption {
        font-weight: bold;
        margin-bottom:20px;
        font-size: 1.2em;
    }
    .articleTable tr td {
        text-align:center; 
    }
</style>
<nav>
    <ul class="breadcrumb2">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Picture Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.colorsMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">How to Fix the Color in your TV Picture</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>If the color problem goes away when you select a different source or input, then 1.) you may have a faulty connection (see <a href="#connections">Cable Connections</a>), or 2.) the device connected to the TV may be faulty.</p>
        <p>If the problem never goes away, then it could either be 1.) an improper picture setting, 2.) a faulty or improper cable connection, or 3.) a faulty printed circuit board.</p>
        <p>The following two tables list various color anomalies. The first table lists issues that can be resolved by making changes to settings. Find the Symptom with which you are dealing, then find the Setting in the Picture menu and adjust it in the Direction indicated. Also, see <a href="#SettingAdjustments">Setting Adjustments</a>.</p>
        <table class="articleTable">
            <caption>Setting-related issues</caption>
            <tr>
                <td style="font-weight:bold;">Symptom</td>
                <td style="font-weight:bold;">Setting</td>
                <td style="font-weight:bold;">Direction</td>
            </tr>
            <tr>
                <td>Picture is weak, pasty, or flat</td>
                <td>Picture or Contrast</td>
                <td>Right (or up)</td>
            </tr>
            <tr>
                <td>Skin tone is too red or too purple</td>
                <td>Tint or Hue</td>
                <td>Toward green</td>
            </tr>
            <tr>
                <td>Skin tone is too green</td>
                <td>Tint or Hue</td>
                <td>Toward red</td>
            </tr>
            <tr>
                <td>Colors  are too pale or weak</td>
                <td>Color</td>
                <td>Right (or up)</td>
            </tr>
            <tr>
                <td>Colors  are too bold or  vivid</td>
                <td>Color</td>
                <td>Left (or down)</td>
            </tr>
            <tr>
                <td>Everything is bluish</td>
                <td colspan="2">See <a href="#InLineAdDiv2">Color Temperature</a></td>
            </tr>
            <tr>
                <td>Everything is yellowish or orangish</td>
                <td colspan="2">See <a href="#InLineAdDiv2">Color Temperature</a></td>
            </tr>
            <tr>
                <td>Skin tone is too orange</td>
                <td>Color</td>
                <td>Left (or down)</td>
            </tr>
            <tr>
                <td>There is no color</td>
                <td>Color</td>
                <td>Right (or up)</td>
            </tr>
            <tr>
                <td>Blacks are too black</td>
                <td>Brightness</td>
                <td>Right (or up)</td>
            </tr>
            <tr>
                <td>Blacks are too light (gray)</td>
                <td>Brightness</td>
                <td>Left (or down)</td>
            </tr>
        </table>
        <br />
        <aside id='InLineAdDiv' style='text-align:center;'></aside>
        <p> The second table lists issues that cannot be resolved with menu settings. Select the Probable Cause to get the solution.</p>
        <table class="articleTable">
            <caption>Non-setting-related issues</caption>
            <tr>
                <td style="font-weight:bold;">Symptom</td>
                <td style="text-align:center; font-weight:bold;" colspan="3">Probable Cause</td>
            </tr>
            <tr>
                <td>There is no color at all</td>
                <td><a href="#InLineAdDiv3">Cable Connections</a></td>
                <td></td>
            </tr>
            <tr>
                <td>Blues and reds are reversed</td>
                <td><a href="#InLineAdDiv3">Cable Connections</a></td>
                <td></td>
            </tr>
            <tr>
                <td>Only blue and yellow, but no red</td>
                <td><a href="#InLineAdDiv3">Cable Connections</a></td>
                <td><a href="#circuits">Circuit Board</a></td>
            </tr>
            <tr>
                <td>Only red and green, but no blue</td>
                <td><a href="#InLineAdDiv3">Cable Connections</a></td>
                <td><a href="#circuits">Circuit Board</a></td>
            </tr>
        </table><br />
        <h3 id="SettingAdjustments">Setting Adjustments</h3>
        <p>To make adjustments to the settings, grab the remote that controls the TV's menu, press the 'Menu' key to display the main TV menu, and select the 'Picture' option. This will display a range of settings. Adjust the Setting according to the chart. The Direction in the table refers to the way to change the setting. It is typically left or right, where left is less, and right is more. Some TVs orient their settings vertically (those directions are in parenthesis).</p>
        <p>If the remote control is not available, the adjustments can be made using the push buttons found on the television itself.  The Menu button will display the main menu. The cursor in the displayed menu can be moved using the Volume Up, Volume Down, Channel Up and Channel Down buttons. Navigating with these buttons can be difficult.  The literature that came with the TV can show you how to use them.</p>
        <p>You can exit the menu on the screen by pressing the Exit or Menu button on the remote.  The menu will disappear on its own anyway if you wait long enough without doing anything.</p>
        <br />
        <h4>How to adjust the Brightness</h4>
        <p>"Brightness" is a bit of a misnomer. The brightness setting on your TV has more to do with the "blackness" of the blacks than anything else.  If the blacks are too dark, turn up the brightness.  If the blacks are gray, the brightness needs to be turned down. </p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <h4>How to adjust the Color Temperature</h4>
        <p>Many TVs have a setting known as "color temperature". When the entire picture has an undesirable yellowish cast or bluish cast (mostly noticable in white areas of the picture), it may be because of the color temperature setting.</p>
        <p>The best setting for the color temperature is generally a matter of personal preference. What is percieved to be "best" will be significantly influenced by the ambient light in the room. In other words, the picture will look good when the color temperature most closely matches how your room is lit, whether there is daylight coming in from the windows, or whether the lamps in the room are lit for the evening.</p>
        <p>The names that are given for these settings vary among TV brands, but are generally Warm, Cool and Normal. The Normal setting produces a picture with a daylight cast, which matches the ambient light coming through the windows during the day. The Warm setting gives the pictures an off-white, yellowish, or candlelight cast. This setting is more appropriate for evening viewing, and is the most psychologically relaxing. The Cool setting produces whites that are more bluish. This setting is meant to make the picture look more bright or vivid, and is usually the way TVs come fresh out-of-the-box from the factory, or when they are being demonstrated on the showroom floor.</p>
        <p>Color temperature is measured in degrees Kelvin, with a white field displayed on the screen. The "Normal" setting produces a color temperature of 6500&#176;K, which is the approximate color temperature of sunlight. It is the industry standard for color temperature, to which all television cameras are calibrated and from which all television colorimetry is based. The "Warm" setting produces a color temperature of about 3000&#176;K, and the "Cool" setting produces about 8200&#176;K. Notice how the terminology seems to be backwards (i.e. warm for a low temperature and cool for a high temperature). These terms are not meant to match the sense of the scientific metric, but rather the asthetic feel of the cast. In fact, these terms ("warm" and "cool") are actually related to how artists view color, in that yellows are considered warm colors and blues are cool colors.</p>
        <h4>Other settings</h4>
        <p>The settings mentioned in this article are the common ones that you will find on nearly every TV. But within the Picture menu there may be more settings that could change the way the colors look. These settings are specific to the brand and model of television that you have. To learn what they are and how they will affect the picture, consult the owner's manual.</p>
        <aside id='InLineAdDiv3' style='text-align:center; '></aside>
        <h3 id="connections">Cable Connections</h3>
        <p>Component video cables that are not connected properly between the source and the TV can produce pictures with wrong colors. Conventionally, at both ends of the bundle, the green connector will connect to the Y jack, the red connector will connect to the Pr jack, and the blue connector will connect to the Pb jack. Keep in mind that the connectors are color-coded simply as a convenience so that they can be uniquely identified. The signals in these cables really don't care what the colors of the connectors are, as long as the particular signal coming from the source connects to the proper input at the other end.</p>
        <p>The following chart lists the Symptoms that are related to faulty component video Cable connections along with which signal cables would be at fault.</p>
        <table class="articleTable">
            <tr>
                <td style="font-weight:bold;">Symptom</td>
                <td style="font-weight:bold;">Cables</td>
            </tr>
            <tr>
                <td>Reds and Blues are reversed</td>
                <td>Red (Pr) and blue (Pb) are swapped at one end</td>
            </tr>
            <tr>
                <td>Only blues and yellows, no reds</td>
                <td>Red (Pr) cable is not connected </td>
            </tr>
            <tr>
                <td>Only reds and greens, no blues</td>
                <td>Blue (Pb) cable is not connected</td>
            </tr>
            <tr>
                <td>Black and white, no color</td>
                <td>Both red (Pr) and blue (Pb) cables not connected</td>
            </tr>

            <tr>
                <td>Hash or dot pattern crawling upward with the picture behind it</td>
                <td>The green (Y) cable at the source is wrongly connected to the neighboring yellow video output jack</td>
            </tr>
            <tr>
                <td>Intermittent or flickering changes in color</td>
                <td>A bad cable, or a cable plug not firmly seated into its corresponding jack</td>
            </tr>
        </table>
        <br />
        <p>If you can't seem to get the colors right by changing channels, or by making adjustments to the TV picture settings, or by changing the cable connections, then you are probably dealing with a faulty device. Determine which device is faulty by switching inputs. If the problem is always there no matter what you select as your input, then your TV is the culprit. Continue reading.</p>
        <h4>Intermittent Connections</h4>
        <p>Cables can become intermittent or go bad at their connectors. This can happen when the cable is disconnected repeatedly by grabbing it by the cable itself and tugging, rather than grasping the connector to disconnect it. Repeatedly unplugging and plugging in cables can also damage the female connector on the TV causing an intermittent connection as well. To tackle this problem you will need to gain access to the printed circuit board (see <a id="lnkGetTo2" href="/GetTo" target="_self">How Do I Get To the Circuit Boards in a TV?</a>).</p>
        <p>If the connector does not feel loose when you rock it back and forth, but the connection comes and goes, then there is probably a hairline fracture on the printed circuit trace to which the connector is soldered. If this is the case, then the board will either need to be repaired or replaced. It can be repaired by locating the broken trace, scaping the solder-resist off of the trace on either side of the fracture to expose the actual copper trace, and then reinforcing the trace with solder. If the connector feels loose to the touch, then it is likely that the printed circuit board has a crack in it, and will need to be replaced (see Circuit Board below).</p>
        <h3 id="circuits">Circuit Board</h3>
        <p>The printed circuit board in your TV that would most likely cause these kinds of issues is called the 'Main Board', or 'Signal Board'. It is generally the one that is populated with all those connectors for connecting various devices to the TV that are accessible in back of the TV.</p>
        <p>Sometimes the failure could be caused by the actual connectors (jacks) on the printed circuit boards themselves. They can become electrically intermittent due to excessive mechanical stress from either 1.) the wear and tear of constantly plugging and unplugging cables into them, or 2.) the constant physical weight or tension imposed on them by the cable.</p>
        <p>Whether the problem is with the board-mounted connectors, or some other component on the Signal Board, the board would definitely need to be replaced, and this web site can show you how to replace it.  The articles <a id="lnkGetTo" href="/GetTo" target="_self">How Do I Get to the Circuit Boards?</a> and <a id="lnkBoards" href="/Boards" target="_self">Replacing Circuit Boards in a TV</a> provide useful information.</p>
    </section>
    <aside id='InLineAdDiv2' style='text-align:center; '></aside>
</article>
