<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Basics<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.couldMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Could I Really Fix My Own TV?</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>If a person are willing to try, then the question is whether they have the ability. This will depend on: 1) the difficulty of the repair, 2) the competence of the person doing the repair, 3) whether the person has the proper tools and the time to do it, and 4) whether the person is instructed on how to do it. This web site covers the instruction aspect so that you will be able to ascertain how difficult the repair will be for you by reading the article. We will also tell you whether any special tools will be needed to do the job.</p>
        <p>We do not cover every TV problem, nor will we take you by the hand and show you every detail of a repair. There are many repairs that should be done by a qualified TV repair technician. If your TV problem is not covered in this web site, then chances are it might be something that requires a trained professional.</p>
        @Html.Partial("Article/GeekSquad")
        <hgroup>
            <h4>TV Service Manuals</h4>
        </hgroup>
        <p>If parts are being replaced, we highly recommend obtaining the service manual for the TV. It’s always nice to have a roadmap of where you’re going when you’re somewhere you’ve never been. A service manual is your roadmap to a successful repair. It provides you with illustrations of what and where the major components are in your TV. There will also be parts lists with part numbers and descriptions of the parts, so you will be able to specify exactly what you need when you order parts. You can order the service manual from <a href="http://www.servicemanuals.net" target="_blank">ServiceManuals.net</a> which offers a 10% discount when you use the coupon code "TESTDISC".  Another TV service manual supplier is <a href="http://www.tradebit.com/visit.php/222570/uri/-/G/manuals/23-tv" target="_blank">Tradebit</a>. To order the service manual, all you need to know is the brand and model number of your television. See <a id="lnkManuals" href="/Manuals" target="_self">TV Service Manuals</a></p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <hgroup>
            <h4>Ordering TV Repair Parts</h4>
        </hgroup>
        <p>See the article on <a id="lnkOrder" href="/OrderParts" target="_self">How to Order TV Parts</a>.</p>
        <hgroup>
            <h4>TV Repair Tools</h4>
        </hgroup>
        <p>For tools, all you would need for most repairs is a Philips screwdriver. We recommend using a battery-powered screwdriver, simply because there are a lot of screws that secure the back cover of a TV (and, it’s a nice tool to have, too!). A few repairs may require the use of a digital multimeter (see <a id="lnkEquipment" href="/Equipment" target="_self">Do I Need Test Equipment?</a>). And for those of you who are familiar with video test patterns, you can <a href="http://www.mytvtestdisc.com" target="_blank">Download a Free DVD</a> that will display video test patterns on your TV.</p>
        <aside id='InLineAdDiv' style='text-align:center; '></aside>
        <hgroup>
            <h4>Professional Assistance</h4>
        </hgroup>
        <p>You can post your question at <a href="http://www.justanswer.com/tv-repair//?r=sheeand&bt=2&bn=3" target="_blank">“justAnswer.com”</a>, and a qualified technician will help you.</p>
        <hgroup>
            <h4>High Voltage</h4>
        </hgroup>
        <p>Some procedures may expose you to live circuit boards while the TV is plugged in, or powered on. These procedures are clearly marked with the warning, “Danger – High Voltage”. There are places in the chassis where high voltages do exist, and you could hurt yourself (to say the least) if you touch the wrong thing. On the other hand, some circuit boards would be harmless to touch, even with the TV plugged in and turned on. Nevertheless, just to be on the safe side, the warning in the article will remind you not to touch any part of any circuit board while the TV is plugged in with the back cover removed. You can read <a id="lnkDanger" href="/Danger" target="_self">Danger - High Voltage!</a> for more information.</p>
    </section>
</article>
