<nav>
    <ul class="breadcrumb2">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Power Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.cyclingMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">TV Keeps Clicking / Won't Power-Up</h1>
         
    </header>
    <section itemprop="articleBody">
        <hgroup>
            <h3>Problem:</h3>
        </hgroup>
        <p>The TV acts like it’s turning on, but instead it keeps clicking over and over again until finally it stops cycling and the TV comes on with picture and sound.  If the problem is left unresolved, it will get worse – the cycling will go on for longer periods.  In the worst case it won’t even cycle, and the only indication of power you might get would be the little red (or blue) light in front letting you know that the set is plugged into the wall. The TV will appear to be dead. It is a common symptom in flat-screen TVs, and is indicative of a common problem that has plagued many brands.</p>
        <hgroup>
            <h3>Solution:</h3>
        </hgroup>
        <p>You will need to remove the back cover so you can do some investigative observation.  See <a id="lnkGetTo" href="/GetTo" target="_self">How Do I Get to the Circuit Boards?</a></p>
        <figure id="picture" style="float:left; position:relative; margin-right:15px; margin-bottom:5px;"><img alt="Example of defective electrolytic capacitors" src="@VirtualPathUtility.ToAbsolute("/Images/Photos/capacitors_300w.jpg")" /></figure>
        <p>The root cause of the problem lies with one or more defective capacitors.  In 90% of the cases, the capacitors are cylindrical, radial-leaded electrolytics mounted on the power supply circuit board.  Sometimes they will be on another board other than the power supply.  Occasionally they will be surface-mount capacitors somewhere on the main board, but you won’t be able to tell which ones they are by looking at them.</p>
        <p>The defective cylindrical, radial-leaded “caps” are easy to spot.  They have a bulged or puffed-up top, whereas good capacitors have flat tops.  If you find any capacitors that are bulged on top, you can either replace the capacitors, or you can replace the entire board.   If you decide to replace the board, you will need to be able to specify what board you need to replace.  The part number may auspiciously be on a sticker on the board, but don’t count on it.  If the power cord connects to the board, then that board is the power supply board.  If it is any other board, you will need to either get advice from a technician or get the service manual for the TV.  You can get advice on this web by entering your question in the textbox.  Service manuals are available by clicking the "Tradebit" button.</p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <p>The rest of this article deals with replacing the capacitors. The technical explanation and solution that follows is geared for those that are knowledgeable of circuit boards and soldering techniques. The article on <a id="lnkSolder" href="/Solder" target="_self">Replacing Soldered Parts</a> was specifically written for this repair.</p>
        <p>The capacitors that most commonly fail have values of 1000uF@10V or 2200uF@10V.  The standard fix is to replace them with higher-voltage parts, i.e. 25V parts. If the defective capacitors are 25V parts, replace them with 25V parts.</p>
        <p>Some say the reason why these capacitors fail, and why we replace them with higher voltage caps is due to poor circuit design.  They argue that if you take the capacitors out of the circuit and measure the voltage you will find that the peaks in the signal go higher than 10 volts.  That may be true, yet with the capacitors in the circuit, those signal peaks will never occur by virtue of the capacitance!  So that argument, in my humble opinion, is a bunch of bull!</p>
        <aside id='InLineAdDiv' style='text-align:center; '></aside>
        <p>Having been an electrical engineer in the consumer electronics industry, I would much more bet my money on the possibility that those capacitors were defective from the beginning.  It is conceivable that during production at the factory the manufacturer may have been stuffing their circuit boards with contaminated parts.  The parts might work fine for the short term, but would fail in the future.  There would have been no way to for them to test them to find out whether or not they were contaminated.  Only a life-test (leaving the unit turned on 24/7 for several months) would reveal the culprits.  It is just a matter of time before the defect would manifest itself.  That is why it is not unusual for the capacitors to fail after the manufacturer’s warranty expires.</p>
        <p>For your convenience, here are two quick links to place orders for capacitors:</p>
        <p><a href="http://www.kqzyfj.com/click-5563276-10826181?url=http%3A%2F%2Ftracking.searchmarketing.com%2Fclick.asp%3Faid%3D653489726&cjsku=31-215" target="_blank">Order 25V 1000UFD RADIAL ELECTROLYTIC CAPACITORS now!</a><img src="http://www.awltovhc.com/image-5563276-10826181" width="1" height="1" border="0" alt="" /></p>
        <p><a href="http://www.dpbolvw.net/click-5563276-10826181?url=http%3A%2F%2Ftracking.searchmarketing.com%2Fclick.asp%3Faid%3D653489763&cjsku=31-225" target="_blank">Order 25V 2200UFD RADIAL ELECTROLYTIC CAPACITORS now!</a><img src="http://www.tqlkg.com/image-5563276-10826181" width="1" height="1" border="0" alt="" /></p>
        <br />
    </section>
</article>
