<nav>
    <ul class="breadcrumb2">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Power Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.deadMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Dead TV Set</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>By strict definition, a TV is considered to be a "dead set" when it is plugged in to an AC (mains) power receptacle known to be working, yet any attempts to turn it on show absolutely no sign that anything is working, no sounds, no lights – it is completely dead.</p>
        <p>The power cord on most TVs can actually be unplugged from the TV.  If this connection was loose, it could be a reason why the TV won’t turn on.  Make sure that the power cord going in to the TV is pushed in as far as it will go.</p>
        <p>When a TV is turned "Off" it will still draw some electric current, about as little as a night light would use.  Some people like to unplug their TV when they go on vacation.  Not only does this keep power surges from threatening to cause problems while they are gone, but it is also a way to cut off the power to the TV so it draws no electricity.  That is why some TVs have a "vacation switch".  This switch cuts off all power to the TV.  It is generally located along the bottom edge toward either end of the cabinet.  If your TV has this switch, check to make sure it was not inadvertently switched to the "Off" position.</p>
        <div id="fuse" style="float:left; position:relative; margin-right:15px;"><img alt="Example of a fuse found in a TV" src="@VirtualPathUtility.ToAbsolute("/Images/photos/fuse.jpg")" /></div>
        <p>No TV has a circuit breaker or fuse readily accessible on the back of the set.  If there are serviceable fuses, they will be found mounted on the power supply circuit board inside the TV.  Read the article <a id="lnkGetTo" href="/GetTo" target="_self">How Do I Get to the Circuit Boards?</a>  You can check for electrical continuity of the fuse (i.e. whether or not it’s blown) by using a multimeter.</p>
        <div id='InLineAdDiv' style='text-align:center; '></div>
        <h4>Other Possibilities</h4>
        <p>If the cause is not any of the above, then there is a problem with a circuit board. You may need the service manual to identify the boards in your television. Also, see <a id="lnkBaords" href="/Boards" target="_self">Replacing Circuit Boards</a>.</p>
        <p>If you have an LCD or LED TV, the problem might be a faulty TCON board. Disconnect the AC (mains) power cord from the TV. Disconnect one end of the LVDS cable that goes between the main board and the timing controller (TCON) board. Connect the AC (mains) power cord to the TV and press the power button. If the screen lights up dimly, then you have a defective TCON board. If the symptoms didn’t change, then you have either a defective main board or power board (you should get them both, replace them one-at-a-time, and send back the one you don’t need).</p>
        <p>If it's a plasma TV, it would be best to schedule a service call and have a technician come to your home and fix the TV for you.</p>
        @Html.Partial("Article/GeekSquad")
        <br />
        <br /><br />
    </section>
</article>
