<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Cleaning<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.dlpMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Cleaning a DLP or LCD Projection TV</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>Beside cleaning the screen (which is covered in <a id="lnkClean" href="/Flats" target="_self">How To Clean a Flat Screen TV</a>), there is a lens inside the TV that should be cleaned.  The lens can accumulate dust and can cause the picture to become dim and hazy. To get to the lens, some manufacturers put portals on the sides (or one on the back) of the cabinet. If you have such a model, you would simply unscrew and pop-open one of the portal doors, and then just reach inside and clean the lens with a dry cloth.</p>
        <p>If there are no portals, you’ll have to take the whole light engine out to clean the lens. Read <a id="lnkEngines" href="/Engines" target="_self">Replacing Light Engines (Optical Blocks)</a> to learn how to take out the light engine. It can be striking how vivid the picture can be on a DLP or LCD projection TV after the lens has been cleaned.</p>
        <div id='InLineAdDiv' style='text-align:center; '></div>
        <h4>How Does a Projection TV Work</h4>
        <p>The image is projected through the lens, which is the part of a light engine.  Then the image is reflected off of a mirror that is suspended on the backside of the cavity (the body of the cabinet) and then is projected onto the screen.  The lens is a horizontal surface, so it can collect dust. If the lens is considerably dusty, cleaning the lens will greatly improve the quality of the picture.</p>
    </section>
</article>
