<div style="text-align:center">
    <div id="SecondAd" class="alignleft">
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- Mobile Banner 2 - FixMyOwnTv -->
        <ins class="adsbygoogle"
             style="display:inline-block;width:300px;height:250px"
             data-ad-client="ca-pub-5222348008135421"
             data-ad-slot="2860742005"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
    </div>
    <script>
        document.getElementById("SecondAd").onload(function () {
            var body = document.body; // For Chrome, Safari and Opera
            var html = document.documentElement; // Firefox and IE
            body.scrollTop = 0;
            html.scrollTop = 0;
        });
    </script>
</div>