<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Replacing Parts<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.enginesMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Replacing A Light Engine (Optical Block)</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>Light engines (optical blocks) vary with regard to how difficult they are to replace. Unless you know what you’re looking for, the service manual will illustrate where the light engine is located (as well as all the other parts).  Some service manuals even have disassembly instructions you can follow.</p>
        <p>Remove the back cover.  Some light engines are right there and held in place by two screws that are easy to find, while others are buried deep inside.  For these, you will need to take out the vast majority of parts before the light engine is accessible.  It’s best if you do it very methodically.  Before removing any part, carefully observe how it goes in.  Before disconnecting any cables, observe how the cable is dressed.  Taking pictures of the way things are before you disassemble the TV is highly recommended.</p>
        <div id='InLineAdDiv' style='text-align:center; '></div>
        <p>Rarely, a replacement light engine may come with special instructions.  One brand requires you to enter the TV’s service mode and make changes to certain settings in the service menu.  Just follow the instructions.  If you need help, Ask an Expert.</p>
    </section>
</article>
