
<h1 itemprop="name">How to Prepare to Ask an Expert</h1>
<p>No one likes having to go back and forth with tech support. Being prepared is important when you call or text an expert for advice.  Follow these four steps on how to compose a concise inquiry.</p>
<ol>
<li>Give the complete model number of the television. It will be printed on a sticker along the side or on the back of the unit.  And, give the serial number, as it may also be relevant.</li>
<li>Describe in detail what is unusual, what you see and/or hear, and whether things happen immediately or over a period of time.</li>
<li>If some work has already been done on the TV, explain everything that’s been done so far. This will get the technician up to speed with the progress of the repair.</li>
<li>Ask your question.</li>
</ol>
<p>If you don't know who to ask, we suggest <a href="http://www.justanswer.com/tv-repair//?r=sheeand&bt=2&bn=3" target="_blank">justAnswer.com</a>. </p>
