<nav>
    <ul class="breadcrumb">
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Resources <span style="font-size: 150%;"> &#187; </span> </li>
        <li>Ask A TV Technician Now</li>
    </ul>
</nav>
<article>
    <header>
        <h1 style="text-align:center;">Ask A TV Technician Now</h1>
    </header>
    <section>
        <form action="http://afftracking.justanswer.com/aff_c?offer_id=2&aff_id=3640&file_id=63" method="post"> 
            <div style="height:300px;width:298px;margin-left:auto;margin-right:auto;font-size:15px;"> 
                <div style="padding:0px;height:280px;background:#128094 url(' http://www.justanswer.com/uploads/affiliates/top.gif') no-repeat;text-align:center;"> 
                    <h2 style="margin:0px;padding-left:20px;padding-right:20px;font-family: Arial, Verdana, Tahoma, MS Sans Serif;font-size:.8em;font-weight:normal;color:#ffffff;">We have partnered with JustAnswer so that you can get an answer ASAP.</h2> 
                    <div style="width:298px;margin-top:15px;height:120px;"> 
                        <div style="width:270px;height:120px;margin:0px auto;background:#128094 url('http://www.justanswer.com/uploads/affiliates/questionbox.gif') no-repeat;"> 
                            <textarea name="question" rows="3" cols="4" id="question" tabindex="1" style="text-align:left;margin: 5px 0px 0px 5px;max-width:250px;height:102px;resize:none;width:248px;color:#333;font-family: Arial, Verdana, Tahoma, MS Sans Serif;font-size:.8em;font-weight:normal;border:0px solid #fff;overflow:auto;" onfocus="question_onfocus(this, event)" onblur="question_onblur(this, event)" onkeydown="limitText(this);" onkeyup="limitText(this);">Type your question here</textarea></div>
                        </div>
                    </div>
                    <div style="float:left;padding:0px;width:298px;margin:0px;height:59px;background:#128094 url('http://www.justanswer.com/uploads/affiliates/bottom.gif') no-repeat;">
                    <div style="margin: 10px 10px 10px 5px;width: 283px;"><img style="margin-left:10px; float: left;" src='http://www.justanswer.com/uploads/affiliates/logopwd.gif' alt="JustAnswer" /> 
                        <input type="hidden" id="FID" name="FID" value="63" />  
                        <input type="hidden" name="RID" value="affiliate" /> 
                        <input type='image' style='float:right;' src='http://ww2.justanswer.com/uploads/affiliates/submit.gif' alt='Submit' />
                    </div>
                </div>
            </div>
        </form>
    <script language="javascript" type="text/javascript">
        var maxCharCount = 1000;
        var showCharAt = 200;
        String.prototype.trim = function () {
            return this.replace(/^\s*|\s*$/, "");
        };
        function question_onfocus(t, e) {
            if (t.value.trim() == "Type your question here") { t.value = ""; } return true;
        };
        function question_onblur(t, e) {
            if (t.value.trim() == "") { t.value = "Type your question here"; } return true;
        };
        function limitText(limitField) {
            var limitCount = document.getElementById('countdown'); if (limitField.value.length > maxCharCount) { limitField.value = limitField.value.substring(0, maxCharCount); limitField.scrollTop = limitField.scrollHeight; }
        }
    </script>        
        <img src="http://afftracking.justanswer.com/aff_i?offer_id=2&file_id=310&aff_id=3640" width="1" height="1" />
    </section>
</article>
