<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Replacing Parts<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.lampsMenuPick</li>
    </ul>
</nav><br />
<article>

    <aside><p><a href="http://www.kqzyfj.com/click-5563276-11093605-1393450963000" target="_blank">Need Replacement DLP / Projection Lamps & Bulbs? See Our Easy to Use Finder!</a><img src="http://www.lduhtrp.net/image-5563276-11093605-1393450963000" width="1" height="1" border="0" /></p></aside>
    <header>
        <h1 itemprop="headline">Replacing TV Lamps</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>Before you begin, please take heed.  Whether you are replacing the bare bulb or the whole lamp assembly, be very careful not to touch the glass part of the bulb.  If any oil or perspiration from your fingers gets on the glass, it could shorten the life span of the bulb, and here’s why.  The lamp gets very hot when it is on, and then cools back down when it is off.  Under normal operation this heating and cooling causes the glass to expand and contract in a uniform fashion.  However, any oil from your skin that gets on the glass will cause this expansion / contraction to be different at that location than the rest of the bulb’s surface area.  This will eventually cause a fracture in the glass and the bulb will break.  To avoid touching the glass, you may want to wear gloves.</p>
        <div id="picture" style="float:left; position:relative; margin-right:15px; margin-bottom:5px;"><img alt="Example of a lamp found in a projection TV" src="@VirtualPathUtility.ToAbsolute("/Images/photos/32-26415.jpg")" /><img alt="Example of a lamp found in a DLP projection TV" src="@VirtualPathUtility.ToAbsolute("/Images/photos/32-26625.jpg")" /></div>
        <p>Lamps are the easiest to replace, as long as get the one that is already mounted in its housing or “cage”.  Once you have obtained the replacement lamp, observe what it looks like so you’ll know what you’ll be looking for.</p>
        <p>To access the lamp, look for the hatch door on the cabinet.  On most TVs it is either on the side or the back of the cabinet.  (After you remove the hatch door, you may find another door to open.)  Remove the door and you’ll see the lamp housing.  It will be secured in the TV either with two captive screws or with a latch.  Remove the lamp.  If you are replacing the whole lamp assembly, just install it.</p>
        <aside><div id='InLineAdDiv' style='text-align:center; '></div></aside>
        <p>If you are replacing the bare bulb, you will have to dismantle the cage surrounding the lamp, remove the old bulb, replace it with the new one, and rebuild the cage taking heed to the warning above about touching the glass.</p>
        <br />
    </section>
</article>
