<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Basics<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.lcdplasmaMenuPick</li>
</ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Is my TV an LCD, LED or Plasma?</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>The owner's manual may tell you the kind of TV that you have - or it may not.  If you don't have the owner's manual, the manufacturer's tag on the back of the TV may tell you - or it may not tell you either.</p>
        <p>One sure way to know whether you have an LCD/LED TV or a plasma TV is to poke the screen with your finger while it is on. If it is an LCD or LED TV, the picture will react and go slightly dark with a ripple-like effect, and then quickly return to normal. Computer monitors will do this as well. Otherwise, if the picture doesn't do anything, it means that you have a plasma TV.</p>
        <p>Plasma TV screens have a glossy glass surface. It will reflect ambient light (much like the old-school CRT picture tubes did). This means you would be able to see the reflection of bright objects coming in through the window behind you. On the other hand, LCD/LED screens have a matte finish that produces a diffused reflectiveness. These traits are most noticeable when the TV is turned off.</p>
        <div id='InLineAdDiv' style='text-align:center; '></div>
        <p>Another way you can tell the difference is to observe how bright the picture appears across their horizontal “viewing angle”.  As you walk across the front of a plasma TV while watching the picture, it will have the same brightness no matter what the viewing angle is. But the picture on LCD/LED TVs are the brightest looking straight on, and not quite so bright looking from an angle (although high-end LCD/LED TVs have almost as good a viewing angle as do plasma TVs these days). Curved LED TVs will be the brightest at the central viewing point.</p>
        <h3>Technical Differences</h3>
        <p>Basically, an LCD or an LED TV is nothing more than an overgrown computer monitor with a built-in tuner and a bunch more jacks in the back. The LCD display is constructed of a liquid crystal matrix layer with an array of cold-cathode fluorescent (CCF) backlights behind it. The backlights shine through the LCD layer to produce the picture.</p>
        <p>LED TVs are of the same technology as LCD TVs. The major difference between them is in the display itself. An LED display panel is, in fact, an LCD panel with white light-emitting diodes (LEDs) as backlights instead of CCF backlights. Consequently, LED TVs are thinner than LCD TVs, and the "whites" on the LED TV picture are whiter and brighter. This is because LEDs are smaller and brighter than CCF lamps.</p>
        <br />
    </section>
</article>
