<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>System Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.updateMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Software Updates for TVs</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>TVs that have built-in internet connectivity (either wireless or wired) can be set to receive software updates automatically.  Consult your TV’s owner manual for details. Otherwise, software updates can be obtained from your computer by downloading a file from the manufacturer’s web site. The update usually comes as a compressed folder (.zip file) containing files which would need to be extracted and copied onto either a flash drive or a memory card (depending on the brand). Then the memory device would be plugged into the television and you would initiate the installation using the TV remote. The web site should provide instructions on how to perform the update along with the update itself.  Refer to your user’s manual for the web site address.</p>
        <p>TVs have been running on software (also called “firmware” by some manufacturers) since remote controls replaced channel tuners with mechanical knobs. Today, the television’s control system receives commands from the remote control, and the software in the TV’s control system interprets the command and makes the TV do what you want it to do.</p>
        <p>Software can be a source for problems.  Sometimes television manufacturers will release a line of products whose software may not be 100% mature, or may not be completely debugged.  Or, maybe an electrostatic discharge will cause the software to become corrupt. Either way, the TV may not operate as you would expect if the software has flaws in it.  To remedy this, manufacturers will provide updates to the software that can be installed into the television. </p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
    </section>
</article>