<style>
    table {
        font-size: small;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

        table.articleTable tr td {
            border: 1px solid black;
            padding-left: 5px;
            padding-right: 5px;
        }

        table.articleTable tr td:nth-child(2) {
            text-align: center;
        }
</style>
<nav>
    <ul class="breadcrumb">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Basics<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.worthfixingMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">Is My TV Worth Fixing?</h1>

    </header>
    <section itemprop="articleBody">
        <h4>Reasons Why You Shouldn't Fix Your Own TV</h4>
            <p>If your TV is still covered under a warranty, take advantage of it and call a service technician (unless it has incurred damage that is not covered). Most manufacturers warrant their TVs for one year after the original purchase. You can find out what the manufacturer’s warranty period is from either your sales receipt, the owner’s manual, or the company’s web site. If you purchased an extended service plan, find the receipt, or call the store where you purchased it to see if it is still covered.</p>
            <p>If it was severely physically damaged (e.g. dropped down a flight of stairs), where the panel, bezel, and printed circuit boards would need to be replaced, then it's not worth fixing. </p>
            <p>If it was exposed to moisture (immersed in water due to flooding, or left outside where rain, dew, or condensation has caused damage), then it's not worth fixing. Moisture causes corrosion that will permenantly damage printed circuit boards.</p>
            <p>If the television is much smaller than a 50-inch (125-cm) it's probably not worth fixing because the cost of the bad part(s) might be close to the cost of a new TV.</p>
            <p>If it's more than 10 years old it's probably not worth fixing (unless you're an antique collector), because parts may not be available for a TV that old. The longevity of the whole TV must also be considered. It's like fixing an old car - as soon as you fix one thing, chances are something else will soon go wrong. To find the year that the TV was manufactured, check the label on the back side of the TV.</p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <h4>What Are Parts Going To Cost?</h4>
        <p>The articles in the <em><a href="#">Solution Center</a></em> can tell you if a part needs to be replaced. Click the blue buttons and find the symptom that most closely resembles the problem. If you need to replace something like a circuit board or some other part inside the television, then it’s a matter of whether the part is available, whether you can afford to purchase it, and whether you are willing to replace it yourself.</p>
        <p>If something needs to be replaced, and you want to know how much it would cost, see <a id="lnkVendors" href="/Parts" target="_self">Replacement Parts For TVs</a> to get specific pricing from parts dealers. You may also want to read <a id="lnkHow" href="/OrderParts" target="_self">How To Order TV Parts</a></p>
        <p>Just to give you an idea of the cost of parts, below is a list of approximate costs (in US dollars) of some typically replaced parts.</p>
        <table class="articleTable">
            <caption style="font-weight:bold; margin:15px;">Approximate Part Costs</caption>
            <tr>
                <td>Bezels (frames) &amp; front assy.s</td>
                <td>$80 to $250</td>
            </tr>
            <tr>
                <td>Lamps for projection TVs</td>
                <td>$100 to $250</td>
            </tr>
            <tr>
                <td>LCD/LED display panels</td>
                <td>$170 to $400</td>
            </tr>
            <tr>
                <td>Light engines (optical blocks)</td>
                <td>$350 to $800</td>
            </tr>
            <tr>
                <td>Logic boards</td>
                <td>$100 to $200</td>
            </tr>
            <tr>
                <td>Main (or Signal) boards</td>
                <td>$70 to $200</td>
            </tr>
            <tr>
                <td>Plasma display panels (PDP)</td>
                <td>$250 to $500<br />(after core return)</td>
            </tr>
            <tr>
                <td>Power boards (or SMPS)</td>
                <td>$50 to $400</td>
            </tr>
            <tr>
                <td>Power inverters (LED/LCD)</td>
                <td>$50 to $150</td>
            </tr>
            <tr>
                <td>Small circuit boards<br />(such as Function &amp; IR<br />boards containing push-<br />buttons or touch-pads)</td>
                <td>$20 to $100</td>
            </tr>
            <tr>
                <td>Speakers</td>
                <td>$10 to $40</td>
            </tr>
            <tr>
                <td>T-CONN boards</td>
                <td>$80 to $150</td>
            </tr>
            <tr>
                <td>Tuners</td>
                <td>$30 to $80</td>
            </tr>
            <tr>
                <td>X-main &amp; Y-main boards</td>
                <td>$70 to $200</td>
            </tr>
        </table>
        <br />
        <h4>How Long Should A TV Last?</h4>
        <p>The longevity of a TV is like anything man-made. TVs will eventually break down. You should expect to get about eight to ten years of useful life out of a TV.</p>
        <aside id='InLineAdDiv' style='text-align:center; '></aside>
        <br />
    </section>
</article>
