<nav>
    <ul class="breadcrumb2">
        <li><span class="demo-icon icon-monitor">&#xf032;</span></li>
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Picture Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.zoomMenuPick</li>
    </ul>
</nav><br />
<article>

    <header>
        <h1 itemprop="headline">TV Picture Doesn't Fit The Screen</h1>
         
    </header>
    <section itemprop="articleBody">
        <h3>Problem</h3>
        <ul>
            <li>
                The TV picture is too big, or looks zoomed in too much so that you can't read the text crawling along the bottom of a news channel
            </li>
            <li>
                The TV picture is too small and is surrounded by wide black borders
            </li>
            <li>
                The TV picture looks narrow, it doesn't completely fill the screen, or there is space on either side of the picture
            </li>
            <li>
                The TV picture looks stretched horizontally, or width-wise, so that everything is too wide, or people look fat
            </li>
        </ul>
        <h3>Solution</h3>
        <p>If you are watching off-air TV using an antenna or watching cable-TV without a cable set-top box, first try changing the channel. If the picture looks bad only on one channel, then the problem is that particular channel. You may find a solution for this in <a href="#Automatic">Automatic TV Settings</a> or <a href="#Limitations">Limitations of Using HDMI Cables</a>.</p>
        <p>If the picture size is consistently wrong on more than one channel no matter how the TV is connected, it's probably because a button got pushed on the TV remote control by mistake. To resolve this, first grab the remote control that came with the television (if you've been using a universal remote, don't use it for this procedure because it may not have the buttons clearly marked). Look for a button labelled "WIDE", "ASPECT", "P SIZE", or "ZOOM".  When you push this button one time, the TV should display the mode in which it is currently set. Remember this setting - you may need to return to it! Next try changing the setting. Depending on your make and model, this will be done either by making a menu selection or by pushing that same button more than once. See if you can find the setting that will cause the picture to fill the screen like it did before the mishap.</p>
        <aside id='InLineAdDiv2' style='text-align:center; '></aside>
        <p>If the TV remote does not have any buttons labelled like that, then go to the TV’s menu and look for an option called "Picture", "Options", or "Screen". Select this option. Now look for another option called "Aspect", "Screen Size", or "Aspect Ratio". Select that option. You should now see the current setting displayed on the screen.  Remember this current setting before you make any changes. Next, change the setting until you find one that will fill the screen properly.</p>
        <p>If those procedures don't resolve the issue, then the problem is in the cable box, satellite receiver, or DVD player that is feeding the TV.  But before you continue, be sure to set the TV back the way it was before you made any changes. </p>
        <p>Grab the remote control that came with that device. Look for a button on the remote labeled "WIDE", "ASPECT", or "ZOOM".   When you push this button one time, the TV should display the mode in which the device is currently set. Remember this setting! Next, try changing the setting, either by a menu selection or by pushing that button a few times, and see if you can find the setting that will cause the picture to fill the screen like it did before the mishap.</p>
        <aside id='InLineAdDiv3' style='text-align:center; '></aside>
        <p>If the remote does not have such buttons, go to the menu and select the option with either the word "Options" or "Set Up". Then, look for another option called "Aspect", "Screen Size", or "Aspect Ratio”.  Make note of the current setting, and then change it and see if you can find one that will cause the picture to fill the screen like it did.</p>
        <p>If none of these procedures resolve the issue, one more thing you can try is to look for an option containing the word "Format" or "Resolution".  It should be set to either "720p", "1080i", or "1080p" for a wide-screen display.</p>
        <h4 id="Automatic">Automatic TV Settings</h4>
        <p>If you can get the picture to look right for some programs, channels, or movies, but not for others, you may be dealing with the way it is being broadcast or the way it was recorded. Some TVs have ways of adapting to this by automatically changing the picture size according to the incoming format. This feature goes by many names depending on the brand. To see if your TV does this you will need to explore the options available in your Picture menu. The owner's manual can also tell you if the TV has this capability. For an explanation as to why the picture can be this way to begin with, read <a href="#InLineAdDiv">Why does my TV picture not fit the screen?</a></p>
        <h4 id="Limitations">Limitations of Using HDMI Cables</h4>
        <p>When using <a href="/HookedUp" target="_blank">HDMI cables</a> resizing the picture may not always be possible. Devices connected via HDMI cables can cause <a href="#aspect">high definition</a> channels to look fine while producing a <strong>pillarbox</strong> picture (with black pillars on either side) for the narrow <a href="#aspect">standard definition</a> channels. You will learn in the next section that this is the way standard definition pictures are intended to be viewed.</p>
        <p>The reason this happens is that the picture format and <a href="#aspect">aspect ratio</a> (as defined by the program or broadcaster) is an integral part of the signal that travels through the HDMI cable, and the television must abide by the signal. Consequently, the picture will always be framed the way both the broadcaster and TV manufacturer want it to be framed.</p>
        <p>To deal with this problem, one way of enabling the TV's picture sizing feature is to use a different means of connecting the device to the TV, such as using the component video input or composite video input on your TV. The downside of this, however, is that you will loose some picture quality. See <a id="lnkGetTo" href="/HookedUp" target="_self">How Is My TV Hooked Up?</a>.</p>
        <aside id='InLineAdDiv' style='text-align:center; '></aside>
        <h3>Why does my TV picture not fit the screen?</h3>
        <h4>(A brief history of high definition TV)</h4>
        <p>Why are TVs even capable of displaying pictures incorrectly? To answer this question we need to go back a few years to the time when high definition television was first being developed. There were many factors the inventors had to consider in the design of the system. Among the considerations was that they did not want the new wide-screen way of framing video to replace the original shape. So they included the old-school framing size among the new formats. The intent was to give broadcasters, DVD manufacturers and streaming video providers the freedom to choose how they wanted their picture to be framed. By the way, the original specification allowed for up to 18 variations of picture formats (although many of them are not used).</p>
        <p>
        <p>With variety comes complexity, and it is this variety of formats that has brought us the delema we now face today. Depending on how the video content was originally produced and the device upon which it is viewed, the dimensions of the image on the screen may not always be consistent from one source to another, or between TV channels, programs, or even commercials. The bottom line is that not every source of video is meant to completely fill a wide TV screen.</p>
        <p id="aspect">This brings us to the other piece of the puzzle, namely the shape of the television screen itself. Today, you cannot purchase a TV that does not have a wide screen. The term <strong>high definition</strong> refers to today's high-resolution digital video displayed on a wide screen. The width-to-height ratio of a wide television screen is 16-by-9. This ratio is known as the <strong>aspect ratio</strong>. In contrast to today's wide flat screens, the TV picture tubes of long ago (as well as the TV programs produced in those days) had an aspect ratio of 4-by-3. The digital video counterpart to this is known as <strong>standard definition</strong>.</p>
        <p id="standard">It should be no surprise, then, that when a standard definition broadcast is properly displayed on a wide, high definition screen, the picture will not fill the screen horizontally. Instead, originator will intentionally pillarbox the video image with a gap (usually black) on both sides. This is known as <strong>pillarboxing</strong>. The intent, obviously, is to keep the shape of the original picture even though it is being presented on a wide screen.</p>
        <p>The flip side of this happens when a program or signal source having a wide-screen format is viewed on a 4-by-3 display. The picture will appear in the middle of the screen sandwiched between a layer of black on the top and on the bottom. It will be as if the picture was being viewed through a letterbox on the front door of a house. This technique of format accommodation is known as <strong>letterboxing</strong>, and it is the only way that the whole wide screen picture can be viewed without distortion. This technique is also utilized for films originally shot with a super-wide format (like Super Panavision).</p>
        <p>In spite of how the inventors, the broadcasters, and the film-makers intended to have TV viewers watch their stuff, some people will insist that everything they watch should be completely fill their wide TV screen all of the time, regardless of the incoming picture format. To satisfy this need, many TVs (and some set-top boxes) have a setting that will "stretch" the pictures when they are narrow (you might have come across this feature while performing the instructions at the top of this article). The setting causes all 4-by-3 material to be horizontally stretched, or <strong>anamorphic</strong>. While some viewers may find this to be visually disturbing, others will not be bothered by the distortion at all. It is a feature that the television manufacturing industry was forced to adopt because of consumer demands.</p>
        <p>There is another zoom setting on some TVs called <strong>justified</strong>. This setting stretches a narrowly-framed picture to fit a wide-screen, but only on the far-left and far-right sides leaving the center of the image unstretched. It may make a talking head on a news channel look good, but reveals its unnatural distortion when the camera pans a scene horizonally.</p>
        <br />
    </section>
</article>
 <br />
