<style type="text/css">
    .productContainer {
    }

    #MikesAdContainer {
        display:block;
        margin-top:auto; 
        margin-bottom:auto;
        margin-left:auto; 
        margin-right:auto;
        text-decoration:none;
        height:100%;
        width:100%;
        max-width: 400px;
    }

    #MikesAdContainer:hover {
        border-color: mediumblue;
        cursor: pointer;
        color: black;
    }

    #MikesAdContainer:visited {
        color: black;
    }

    #MikesAdContainer:link {
        color: black;
    }

    #MikesAdImage {
        float: left;
        padding-top: 15px !important;
        padding-right: 15px;
        padding-bottom: 15px;
    }

    #MikesAdText {
        margin-top: 15px;
        padding-right: 15px;
        text-align: left;
    }
</style>

<nav>
    <ul class="breadcrumb">
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Resources<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.booksMenuPick</li>
    </ul>
</nav>
    <h1 itemprop="headline">Books</h1>
        <h4>Professional</h4>
        <div class="productContainer">
            <a href="http://www.mikestvtips.com/index.php" target="_blank" id="MikesAdContainer">
                @*<div id="MikesAdImage"></div>*@
                @*<div id="MikesAdText" style="font-size:12px;">*@
                    @*<span style="font-size:24px;"><strong>Mike's TV Tips</strong></span><br /><em>Case Histories</em><br />Easy to use books on modern TV repair!<br />For professional TV servicers and advanced do-it yourselfers.<br />Save US$2.00 shipping when you mention myTvTestDisc.com!*@
<p>
    <img id="MikesAdContainer" src="http://www.fixmyowntv.com/Images/MikesAdImages/FullAd.png" />
</p>
                @*</div>*@
            </a>
        </div>
        <script type="text/javascript">
            var MikesAdImage = document.getElementById("MikesAdImage");
            MikesAdImage.innerHTML = "<img src='Images/MikesAdImages/" + Math.floor(((Math.random()) * 4) + 2) + ".png' />";
        </script>
