<nav>
    <ul class="breadcrumb2">
        
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Picture Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.burninMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">Image Retention and Burn-In</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>"Image retention" is a phenomenon that only occurs with plasma display panels. If a stationary object or graphic image remains on the screen for several minutes, a distinct shadow of the image may persists when the picture changes. This shadow will typically fade away after a few minutes of normal viewing. The degree to which the shadow is retained will vary with make and model, as well as brightness, cell drive, and picture (or contrast) settings. Many TVs have optional features for minimizing this effect (consult your owner's manual).</p>
        <p>Another related issue with plasma display panels is where the retained image manifests itself as randomly flickering pixels that linger after the picture changes. There are two reasons why this can occur. One is if the voltage levels or waveforms on the power board that drive the panel are not properly set. Adjustments to these voltages should only be done be a qualified professional. The other reason is if the panel has deteriorated due to aging. Sometimes plasma panels will age prematurely if the voltages are incorrectly set for a long period of time. Panels with aging issues cannot be fixed; they can only be replaced.</p>
        
        <p>Plasma panels are prone to burn-in. "Burn-in" occurs when a plasma TV is left on for a very long time with a TV station logo or graphic image constantly in the picture. A permanent shadow of the image will eventually be burned-in to the screen. Plasma display panels with burn-in issues cannot be fixed - they can only be replaced.</p>
        <br />
    </section>
</article>
