<nav>
    <ul class="breadcrumb">
        
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Basics<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.equipmentMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">Do I Need Test Equipment?</h1>
         
    </header>
    <section itemprop="articleBody">
        <div id="mobilePictureEdit"><div id="picture1" style="float:left; position:relative; margin-right:15px; margin-bottom:5px;"><img alt="Example of a digital multimeter" src="@VirtualPathUtility.ToAbsolute("/Images/photos/72-7770.jpg")" /></div></div>
        <div id="picture2" style="float:left; position:relative; margin-right:15px; margin-bottom:5px;"><img alt="Example of a DVM" src="@VirtualPathUtility.ToAbsolute("/Images/Photos/72-7735.jpg")" /></div>
        <div id="text">
            <p>The only test equipment you would ever need for the repairs mentioned in this web site is a digital multimeter (or DVM).  The procedures requiring a multimeter are the ones involving the power board or the plasma display panel.</p>
            <p>With a digital multimeter you would be measuring either DC voltage or resistance (continuity).</p>
            <p>For DC voltage measurements, make sure your multimeter has a maximum range setting of 300 volts or more.  Some meters are auto-ranging. But if the DC voltage range can be set, set it for a range that is higher than the voltage you are about to measure.</p>
            <p>To check the continuity of a wire (whether it has an <em>open</em> or break in it), use the lowest resistance setting. The precise resistance value is not important. Some meters will play an audible tone when measuring high continuity (low resistance) on this range.</p>
            <p>A multimeter is a handy thing to have for many reasons.  For example, you can use it to test batteries.  Just set the meter to read DC voltage, place the probes on the ends of any D, C, AA or AAA-size battery, and read the voltage.  A fresh new battery will give a reading of more than 1.6 volts.  If it measures less than 1.3 volts, the battery is far from being fresh and would likely be a candidate for replacement.</p>
            <div id='Ad9' style='text-align:center; '></div>
            <p>Be sure to read the instructions that come with the multimeter, especially the safety instructions. And, do not set the multimeter to an ampere (A), a milliampere (mA) or a microampere (&micro;A) scale if you intend to measure a voltage, as this could destroy your multimeter.</p>
        </div><br /><br />
    </section>
</article>
