<nav>
    <ul class="breadcrumb2">
        
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Sound Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.iaudMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">Intermittent TV Audio</h1>
         
    </header>
    <section itemprop="articleBody">
        <h3>Problem:</h3>
        <p>The audio randomly comes and goes while the picture is fine, and your TV is hooked up to a cable box or a satellite receiver with an HDMI cable.</p>
        <h3>Solution:</h3>
        <p>Chances are good that there is a software issue either with the box or the TV. First, try rebooting the box by removing power from it for about 30 seconds and then plugging it back in and turning it on.  After the box boots up see if the problem persists.  If you still experience the problem, then perform a software update on the television.  If that doesn’t fix it, then call your cable TV or satellite TV service provider.  If there are more than one HDMI cables plugged into the TV, a possible workaround might be to disconnect the ones you are not using and see if that works.</p>
        <p>If this doesn't help, see <a id="lnkIntSig"  href="http://www.fixmyowntv.com/intsignal" target="_self">Intermittent TV Signals</a>.</p>
        <br />
    </section>
</article>
