<nav>
    <ul class="breadcrumb2">
        
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Picture Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.lampfailureMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">TV Lamp Failure</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>Most DLP and all LCD projection TVs have a lamp in them to project the picture onto the screen. The typical lifespan of a lamp is two to three years.  If your television has a lamp in it and you haven’t had to replace it in more than three years, you may want to consider ordering one just so you have one when you need it.  It’s only a matter of time before it goes out.</p>
        <p>Lamps will generally start to go dim when they are approaching the end of their life.  If you notice that your picture is not as bright as it once was, chances are you’ve only got about a month before the lamp goes out. </p>
        <div id='Ad9' style='text-align:center; '></div>
        <p>There are a couple of ways a lamp can fail.  Sometimes the lamp (or the whole TV) will oscillate off and on, although this kind of lamp failure is unusual and will not be identifiable by the LED indicators on the front of the TV.  Most of the time, the lamp will go out completely. It will usually make a popping noise, and the TV will shut down.  When they fail like this you will be able to easily tell that the lamp is bad simply by removing it from the TV and looking at it.  It will be completely shattered (which is typically how they fail).   See the article on <a id="lnkLamps"  href="http://www.fixmyowntv.com/lamps" target="_self">Replacing Lamps</a> to learn to get to the lamp.</p>
        
        <p>When you try to turn on a TV with a bad lamp, the TV may sound like it is trying to start a couple of times, but it should eventually just remain off. The reason for this is that there are safety mechanisms built-in to the TV preventing it from coming on when there is something wrong.  The key at this point is to observe the flashing LED indicators on the front frame of the television.  The owner’s manual will have a section on troubleshooting where you can find out how to interpret these indicators.  There will be a certain indication that signals a lamp failure.</p>
        <br />
    </section>
</article>
