
<nav>
    <ul class="breadcrumb">
        
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Damage Control<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.lightningMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">How to Fix a TV Hit By Lightning or a Power Surge</h1>
        <br />
    </header>
    <section itemprop="articleBody">
        <p>If your TV was the victim of a lightning strike, you may be pleased to know that your homeowner's or renter's insurance policy may cover this kind of loss. But if you have no insurance coverage and you want to fix the TV yourself, you will be faced with the task of replacing at least one printed circuit board.</p>
        <p>If the TV does not turn on (showing no sign of power), then the power supply board will need to be replaced at the very least. Hopefully it will be the only board that needs replacing, unless the surge was substantial. In that case it may not be worth fixing.</p>
        <p>The other senario is when the TV will turn on and there will be picture and sound, except that some of the inputs don't work. The faulty inputs will most likely be the HDMI inputs.  If that's the case then you will need to replace the main signal board (as well as the HDMI cables).</p>
        <p></p>
        <p>See <a id="lnkVendors2" href="http://www.fixmyowntv.com/boards" target="_self">Replacing Printed Circuit Boards in a TV</a>. See also <a id="lnkVendors2" href="http://www.fixmyowntv.com/parts" target="_self">Replacement Parts For TVs</a> and <a id="lnkHow2" href="http://www.fixmyowntv.com/orderparts" target="_self">How To Order TV Parts</a>. For more considerations, see <a id="lnkVendors2" href="http://www.fixmyowntv.com/worth-fixing" target="_self">Is My TV Worth Fixing?</a>.</p>
        <h4>Lightning Basics</h4>
        <p>When lightning hits, it could go anywhere, but it will always try to seek a path to the earth. While the main lightning bolt may travel directly down the side of a building or a tree, it can also split into tributary branches. Either of these can induce electrical surge currents into wires or cables that run along side the outside wall of the building or structure in which the TV is located. These transient surges can permanently damage printed circuit boards in the electronic equipment to which the wires or cables are connected. Boards containing HDMI inputs are the most vulnerable because HDMI is designed for very low-voltage signals and generally have very little surge protection. The HDMI inputs on the television are generally located on the main signal board.</p>
        <p>Power surges can develop in power lines and enter into the building's electrical wiring via the electrical service, and can damage anything that is plugged into the wall.</p>
        <h4>How to Prevent Damage from Lightning Or A Power Surge</h4>
        <p>Surge protectors can reduce the risk of damage caused by a power surge. But beyond their rated protection level (typically about 3000 joules), they will no longer be 100% effective.</p>
        <p>If you know that a violent storm is approaching, the best way to prevent lightning and power surge damage is to anticipate the threat by unplugging every power cord and the antenna cable connected to your system. It would also be wise to unplug any lengthy HDMI cables connected to your equipment. Cables that run along an outside wall, through the attic, or that exit the building (such as antenna cables or cable TV cables) will be the most susceptible (see Lightning Basics above).</p>
        <br />
    </section>
</article>
