<nav>
    <ul class="breadcrumb">
        
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Basics<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.orderpartsMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">How to Order TV Parts</h1>
         
    </header>
    <section itemprop="articleBody">
        <p>Assuming that you know what part you need, you now have to specify the part so you can place an order for it. Preferably you have the manufacturer’s part number for the item. At the very least you should know the manufacturer’s description of it. If it is a component on a circuit board, the location number or reference number is essential. You should also have the complete model number of the television. It is usually printed on a sticker along the side or on the back of the unit.</p>
        <p>See <a href="/Parts">Replacement Parts For TVs</a> to shop for the specific part you need. You can also shop for <a href="/Manuals">TV Service Manuals</a>.</p>
        <br />
    </section>
</article>