<nav>
    <ul class="breadcrumb">
        
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Resources<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.partsMenuPick</li>
    </ul>
</nav>
<h1>Replacement Parts For TV</h1>
<p>Most TV parts are replaceable. In fact, many parts can be easily replaced with just a Phillips screwdriver.</p>
<p>If you are not sure what you're looking for, find out what you need from the <em>Solution Center</em>, or explore the articles under Replacing Parts in the <em>Learning Center</em></p>
<p>If you know what you're looking for, here is a list of several online TV parts dealers grouped by part category. If you can't find the category you're looking for, see "List of Major Companies" (although you may have to do some exploring). Use this list to do comparison shopping for the best deals.</p>
    <div class="container-fluid">
        <h4>List of Major Companies</h4>
        <ul>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">AndrewsElectronics </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_sop%3D12%26_sacat%3D163768%26_nkw%3Dtv%2520parts" target="_blank">Ebay</a></li>
            <li><a style="font-size: 15px;" href="https://www.encompassparts.com/staticpages/Consumer_Electronics" target="_blank">Encompass (Vance Baldwin) </a></li>
            <li><a style="font-size: 15px;" href="https://partstore.com" target="_blank">PartsStore.com </a></li>
            <li><a style="font-size: 15px;" href="http://www.premier-parts.com" target="_blank">Premier Parts (Canadian) </a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com" target="_blank">ShopJimmy.com </a></li>
            <li><a style="font-size: 15px;" href="http://www.tvparts4less.com/" target="_blank">TvPartsForLess </a></li>
            <li><a style="font-size: 15px;" href="http://www.tvserviceparts.com/" target="_blank">TVserviceParts </a></li>
            <li><a style="font-size: 15px;" href="http://www.vizparts.com/index.php" target="_blank">VizParts </a></li>
        </ul>
        
        <h4>DLP Color Wheels</h4>
        <ul>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_from%3DR40%26_trksid%3Dp2380057.m570.l1313.TR3.TRC0.A0.H0.Xdlp%2Bcolor%2Bwheels.TRS0%26_nkw%3Ddlp%2Bcolor%2Bwheels%26_sacat%3D0" target="_blank">Color Wheels (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">Color Wheels (AndrewsElectronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.partstore.com/Content/pages/color-wheels.html" target="_blank">Color Wheels (PartStore) <span style="color: #888888; font-size: 9px;">TV Color Wheels</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=1278" target="_blank">Samsung Color Wheels (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Color Wheels</span></a></li>
        </ul>
        <h4>DMD chips for DLP TVs</h4>
        <ul>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Ddlp%2Bcolor%2Bwheels%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.XDMD%2Bchips%2Bfor%2BDLP%2BTVs.TRS0%26_nkw%3DDMD%2Bchips%2Bfor%2BDLP%2BTVs%26_sacat%3D0" target="_blank">DMD Chips (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">DMD chips (AndrewsElectronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/catalogsearch/result/?q=dlp+chip" target="_blank">DMD chips (ShopJimmy) <span style="color: #888888; font-size: 9px;">DLP TV - DMD Chips</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=1276" target="_blank">Mitsubishi DMD chips (AdvancedLamps) <span style="color: #888888; font-size: 9px;">DLP TV - DMD Chips</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=1276" target="_blank">Samsung DMD chips (AdvancedLamps) <span style="color: #888888; font-size: 9px;">DLP TV - DMD Chips</span></a></li>
        </ul>
        <h4>LCD/LED Display Panels</h4>
        <ul>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">LCD/LED Panels (AndrewsElectronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.tvserviceparts.com/" target="_blank">LCD/LED Panels (TVserviceParts) <span style="color: #888888; font-size: 9px;">LCD TV Display Panels</span></a></li>
            <li>For how to replace, see: <a href="http://www.fixmyowntv.com/lcd" target="_blank">How to Replace an LCD or LED Panel</a></li>
        </ul>
        <h4>Light Engines for DLP & LCD Projection TVs</h4>
        <ul>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">Light Engines (AndrewsElectronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
        </ul>
        <aside id='MyFeaturedAd' style='text-align:center; '></aside>
        <h4>Plasma Display Panels (PDPs)</h4>
        <ul>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">Plasma Panels (Andrews Electronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.tvserviceparts.com/" target="_blank">Plasma Panels  (TVserviceParts) <span style="color: #888888; font-size: 9px;">Plasma Display Panels</span></a></li>
            <li><a style="font-size: 15px;" href=http://www.pioneerelectronics.com/PUSA/Home/ch.Plasma.Support" target="_blank">Plasma Panels  (Pioneer Product Support) <span style="color: #888888; font-size: 9px;">Pioneer Plasma Display Panels</span></a></li>
            <li>For how to replace, see: <a href="http://www.fixmyowntv.com/plasma" target="_blank">How to Replace a Plasma Display Panel</a></li>
        </ul>
        <br />
        <br />
        <div style="border:1px solid black; width:320px">
        <span style="margin-left:30px; font-size:small; color:#808080">Ad scrolls when hovered</span>
        <br />
        <ins class="epn-placement" data-config-id="5b5fb677e833d572c14512ec" style="display:inline !important;"></ins>
        </div>
        <br />
        <br />
        <h4>Printed Circuit Boards</h4>
        <ul>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_sop%3D12%26_sacat%3D163768%26_nkw%3Dtv%2520parts" target="_blank">TV Printed Circuit Boards, Parts & Components (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">All Circuit Boards (AndrewsElectronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.tvpartsguy.com/" target="_blank">Boards - Many Brands (TvPartsGuy) <span style="color: #888888; font-size: 9px;">TV Circuit Boards, Many Types, Many Brands</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.searspartsdirect.com/partsdirect/" target="_blank">Boards - Many Brands (SearsPartsDirect) <span style="color: #888888; font-size: 9px;">TV Circuit Boards, Many Types, Many Brands</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.ustvparts.com/" target="_blank">Boards - Many Brands (UsTvParts) <span style="color: #888888; font-size: 9px;">TV Circuit Boards, Many Types, Many Brands</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/catalogsearch/result/?restrictBy[master+part+type]=Power+Supply" target="_blank">TV Power Supply Boards (ShopJimmy) </a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/catalogsearch/result/?restrictBy[master+part+type]=Main+Board" target="_blank">TV Main Boards (ShopJimmy) <span style="color: #888888; font-size: 9px;">TV Mother Boards</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/catalogsearch/result/?restrictBy[master+part+type]=sustain+board" target="_blank">Plasma TV Sustain Boards (ShopJimmy) <span style="color: #888888; font-size: 9px;">X-Main, Y-Main, YSUS, ZSUS, SS, SC</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.discount-merchant.com/lcd-logic-board-s/40107.htm" target="_blank">Plasma TV Logic Boards (DiscountMerchant) </a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/catalogsearch/result/?restrictBy[master+part+type]=Backlight+Inverter" target="_blank">LCD/LED TV Backlight Inverters (ShopJimmy) </a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/catalogsearch/result/?restrictBy[master+part+type]=T-Con" target="_blank">T-Con Boards (ShopJimmy) <span style="color: #888888; font-size: 9px;">LCD/LED TV Timing Controller Boards</span></a></li>
        </ul>
        <h4>Projection TV Lamps (bulbs) - DLP/LCD</h4>
    	<ul>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3DLight%2BEngines%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.XProjection%2BTV%2BLamps.TRS0%26_nkw%3DProjection%2BTV%2BLamps%26_sacat%3D0" target="_blank">All lamps (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="http://parts.andrewselectronics.com/search/search.aspx" target="_blank">All lamps (AndrewsElectronics) <span style="color: #888888; font-size: 9px;">Largest assortment of TV parts</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_1087" target="_blank">Bare bulbs (AdvancedLamps)  </a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_160" target="_blank">Hewlett Packard (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_20" target="_blank">Hitachi (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_161" target="_blank">JVC - AdvancedLamps <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_162" target="_blank">LG Electronics (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_22" target="_blank">Mitsubishi (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/mitsubishi?q=mitsubishi+dlp+replacement+lamp&restrictBy[master+part+type]=Lamp" target="_blank">Mitsubishi (ShopJimmy) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_94" target="_blank">Optoma (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_25" target="_blank">Panasonic (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_95" target="_blank">Philips (AdvancedLamps)<span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_96" target="_blank">RCA (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_97" target="_blank">Samsung (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/samsung?q=samsung+dlp+replacement+lamp&restrictBy[master+part+type]=Lamp" target="_blank">Samsung (ShopJimmy) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_19" target="_blank">Sharp (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_26" target="_blank">Sony (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/sony?q=sony+dlp+replacement+lamp&restrictBy[master+part+type]=Lamp" target="_blank">Sony (ShopJimmy) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_27" target="_blank">Toshiba (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.shopjimmy.com/toshiba?q=toshiba+dlp+replacement+lamp&restrictBy[master+part+type]=Lamp" target="_blank">Toshiba (ShopJimmy) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_1249" target="_blank">Visio (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
            <li><a style="font-size: 15px;" href="http://www.advancedlamps.com/index.php?cPath=2_98" target="_blank">Zenith (AdvancedLamps) <span style="color: #888888; font-size: 9px;">TV Bulbs</span></a></li>
        </ul>
        <aside id='InLineAd3' style='text-align:center; '></aside>
        <h4>Remote Controls</h4>
        <ul>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3DProjection%2BTV%2BLamps%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR3.TRC0.A0.H0.XTV%2BRemote%2BControls.TRS0%26_nkw%3DTV%2BRemote%2BControls%26_sacat%3D0" target="_blank">All Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3DTV%2BRemote%2BControls%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1311.R1.TR1.TRC0.A0.H0.XLG%2BTV%2BRemote%2BControls.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2Blg%26_sacat%3D0" target="_blank">LG Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2Blg%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BMitsubishi.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BMitsubishi%26_sacat%3D0" target="_blank">Mitsubishi Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BMitsubishi%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BPanasonic.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BPanasonic%26_sacat%3D0" target="_blank">Panasonic Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BPanasonic%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BRCA.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BRCA%26_sacat%3D0" target="_blank">RCA Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BRCA%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BSamsung.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BSamsung%26_sacat%3D0" target="_blank">Samsung Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BSamsung%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BSharp.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BSharp%26_sacat%3D0" target="_blank">Sharp Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BSharp%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BSony.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BSony%26_sacat%3D0" target="_blank">Sony Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BSony%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BVisio.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BVisio%26_sacat%3D0" target="_blank">Visio Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="https://rover.ebay.com/rover/1/711-53200-19255-0/1?icep_id=114&ipn=icep&toolid=20004&campid=5337068280&mpre=https%3A%2F%2Fwww.ebay.com%2Fsch%2Fi.html%3F_odkw%3Dtv%2Bremote%2Bcontrols%2BVisio%26_osacat%3D0%26_from%3DR40%26_trksid%3Dp2045573.m570.l1313.TR0.TRC0.H0.Xtv%2Bremote%2Bcontrols%2BZenith.TRS0%26_nkw%3Dtv%2Bremote%2Bcontrols%2BZenith%26_sacat%3D0" target="_blank">Zenith Remote Controls (Ebay) </a></li>
            <li><a style="font-size: 15px;" href="http://www.partstore.com/Search/Category/SupercatsRemote+Controls/Television+Remotes.aspx" target="_blank">TV Remotes (PartStore) <span style="color: #888888; font-size: 9px;">TV Remote Controls</span></a></li>
        </ul>
	</div>
