<nav>
    <ul class="breadcrumb2">
        
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Picture Problems<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.shatteredMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">Cracked or Broken TV Screens</h1>
    </header>
    <section itemprop="articleBody">
        <h4>Can the TV be fixed?</h4>
        <p>In most cases the answer is <em>yes</em>.</p>
        <p>The hard truth is (whether it's an LCD, LED, OLED or plasma TV) a cracked or shattered TV screen cannot actually be repaired - it can only be replaced. Fortunately, replacement display <a href="http://www.fixmyowntv.com/faqs#panel" target="_blank">panels</a> can be ordered from TV parts suppliers, depending on the make, model, and age of the television. To find a supplier, see <a id="lnkPlasma" href="http://www.fixmyowntv.com/plasma" target="_self">TV Replacement Parts</a>. To see what's involved in replacing the panel, read <a id="lnkPlasma" href="http://www.fixmyowntv.com/plasma" target="_self">How to Replace a Plasma Display Panel</a>, or <a id="lnkLCD" href="http://www.fixmyowntv.com/lcd" target="_self">How to Replace an LCD or LED Panel</a>.</p>
        <h4>Is the TV worth fixing? </h4>
        <p>Most people would simply get rid of the TV and replace it a new one. But if you really like the one that you have and you want to salvage it, replacing the panel might be a viable option (provided there is nothing else wrong with it). You would need to weigh the cost of a new TV against the cost of the replacement panel plus the time and effort it would take to order and replace it. Nevertheless, there is money to be saved by replacing the panel yourself. For more things to consider, read <a id="lnkWorthIt" href="http://www.fixmyowntv.com/worth-fixing" target="_self">Is My TV Worth Fixing?</a></p>
        <h4>How do I know if the screen is cracked?</h4>
        <p>Sometimes it is obvious, and sometimes it is not. One way to find out is to observe what happens when you turn on the television.</p>
        <p>If you have an LCD, LED or OLED TV, a shattered screen will usually display a kaleidoscope of disturbing, multicolored, orthogonal lines and shapes in the area where the damage occurred. The picture in the rest of the screen may look perfectly fine, or it may be dim, or it may show no video at all.</p>
        <p>Plasma TVs will have a more varied behavior with a damaged screen. Some may work just fine with a simple hairline crack. If the crack is more severe, the screen may not even light up. Some may produce a loud buzzing noise. And other TVs may not turn on at all.</p>
        <p>There is a common misconception about plasma TVs having an invisible crack, that is, one having no visible sign of damage when the TV turned off. Because the screen does not look cracked, some people will argue that the damage must not have been caused by an external force, but instead by an internal defect. This is not necessarily true. The reason it looks this way is because the screen has a protective outer surface made of a durable, scratch-resistant material. This outer surface can sustain a physical impact without producing a visible scratch. Yet beneath it there are very fragile layers that can easily be damaged by the same blunt impact. You can read <a id="lnkReality" href="http://www.fixmyowntv.com/myth-reality" target="_self">Plasma TVs - Myths vs. Realities?</a> for more information on that.</p>
        <p>If you decide that the panel needs to be replaced, but you would rather have someone else replace it for you, then schedule a service call and have a TV service technician come to your home and give you a free cost estimate.</p>
        <h4>Damaged Goods</h4>
        <p>It is important that you inspect any newly purchased TV once it arrives in your home, especially if the store or online company provided the delivery service. Plug in and test the TV to be sure that it is in good working order before the delivery people leave. It is more believable when shipping damage is reported within 24 hours of a purchase, and if it can be corroborated by the delivery team.</p>
        <h4>Manufacturer's Warranties</h4>
        <p>When dealing with the manufacturer, be prepared to thoroughly plead your case. Since it is more difficult to prove that the cause was not your fault, it would be a good idea to call a technician first, because they can do the leg work of contacting the manufacturer for you. Otherwise, you’ll have to correspond with the manufacturer yourself. You would have to send them an email with your name, address, date of purchase, place of purchase, model number, serial number with attached pictures and copy of your sales receipt. You would also have to take pictures of the damage, the front cabinet showing the crack and the manufacturer’s insignia, and the back of unit showing the product sticker.</p>
        <br />
    </section>
</article>
