<h4>Preparation</h4>
<p>Replacing a display <a  href="http://www.fixmyowntv.com/faqs#panel" target="_blank">panel</a> is like replacing an engine part under the hood of a car - you may have to remove some parts to get to it. Once the new panel is installed you will have to put everything back together again in the reverse order.</p>
<p>One thing to consider is that it would be good to have someone else with you while you're doing the job.  Your assistant can help you keep track of the parts and how they go back. And it would also be good if one of you had some mechanical know-how. If the diagonal size of the TV screen is 50-inches (130-cm) or greater, you should have your friend help you when you have to lift it.</p>
<h4>Ordering the Display Panel</h4>
<p>Ordering a display panel from a TV parts distributor is not difficult. Follow the steps that are described in <a id="lnkOrder"  href="http://www.fixmyowntv.com/orderparts" target="_self">How to Order TV Parts</a>. The service manual would also be a handy reference to have if you have a high-end television. It might contain special instructions specific to your model. You can order one from a the suppliers listed under <em>Resources</em>.</p>

<h4>When the Shipment Comes In</h4>
<p>Be sure you are there when it arrives. If the outer carton looks like it was punctured or bashed, don't accept the shipment until you've inspected the contents thoroughly. Open the box and inspect the panel to make sure nothing has been physically damaged during shipping. Make sure there are no cracks in the screen.</p>
<p>You may notice that there are circuit boards attached to the panel. This entire assembly will replace what is in your TV now. You will only need to transfer whatever is obviously missing (if anything) on the new panel from the original panel.</p>
