<nav>
    <ul class="breadcrumb">
        
        <li>Solution Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Damage Control<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.waterMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">How to Fix a TV Damaged by Flooding or Water</h1>
        <br />
    </header>
    <section itemprop="articleBody">
        <p>If your TV was damaged by flood water, check your homeowner's or renter's insurance policy. It may cover this kind of loss.</p>
        <p>TVs are designed to be used indoors, and are not meant to be left outdoors where water from rain, dew, or condensation can corrode the printed circuit boards. Consequently, the damage that can happen from exposure to moisture is not covered by any manufacturer's warranty, although it may be covered by property insurance if the damage can be proven to be accidental.</p>
        <p>If a TV was immersed in water for some time, it would not be worth fixing at all. But if the exposure to moisture was minimal, and you think the TV is salvageable, you will need to remove the back cover and assess the damage. See <a id="lnkAccessing" href="http://www.fixmyowntv.com/getto" target="_self">How Do I Get To the Circuit Boards in a TV?</a>. Take a look at the printed circuit boards and see if you can find evidence of a light-colored, powdery residue. This residue is the result of water damage. It is conductive, and will corrode copper traces, electrical contacts and wiring, and causes permanent damage to electronics. In most cases it is not worth trying to irradicate.</p>
        <p>The best way to repair a TV with this kind of damage is to replace every electronic part that has this residue. Keep in mind that most replacement display panels come with the printed circuit boards that are mounted on them. See <a id="lnkPlasma" href="http://www.fixmyowntv.com/plasma" target="_self">How To Replace Plasma Display Panels</a> or <a id="lnkLCD" href="http://www.fixmyowntv.com/lcd" target="_self">How To Replace LCD and LED Panels</a>. See also <a id="lnkVendors2" href="http://www.fixmyowntv.com/parts" target="_self">Replacement Parts For TVs</a> and <a id="lnkHow2" href="http://www.fixmyowntv.com/orderparts" target="_self">How To Order TV Parts</a></p>
        <p>If you do not want to order parts, and if the display panel seems to still be in intact, a last-resort alternative (not highly recommended) would be to wash every printed circuit board and wiring harness in a dish soap solution. See <a id="lnkSoap" href="http://www.westaby.net/2007/09/cleaning-water-damaged-circuits/" target="_self">Cleaning Water Damaged Circuits</a>. We do not recommend this method because it is not reliable. Nevertheless there have been success stories that prove otherwise.</p>
        <p>For more considerations, see <a id="lnkVendors2" href="http://www.fixmyowntv.com/worth-fixing" target="_self">Is My TV Worth Fixing?</a>.</p>
        <br />
    </section>
</article>
