<style>
    table {
        font-size: small;
        text-align: left;
        margin-left: auto;
        margin-right: auto;
    }

        table.articleTable tr td {
            border: 1px solid black;
            padding-left: 5px;
            padding-right: 5px;
        }

            table.articleTable tr td:nth-child(2) {
                text-align: center;
            }
</style>
<nav>
    <ul class="breadcrumb">
        
        <li>Learning Center<span style="font-size: 150%;"> &#187;</span> </li>
        <li>Basics<span style="font-size: 150%;"> &#187;</span> </li>
        <li>@ViewBag.worthfixingMenuPick</li>
    </ul>
</nav>
<article>

    <header>
        <h1 itemprop="headline">Is My TV Worth Fixing?</h1>
        <br />
    </header>
    <section itemprop="articleBody">
        <h3>Reasons Why You Shouldn't Fix Your Own TV</h3>
        <h4>Warranty Coverage</h4>
        <p>Your TV may be covered by a warranty. Most manufacturers warrant their TVs for one year from the original purchase. You can find the manufacturer's warranty period from either your sales receipt, the owner's manual, or the manufacturer's web site. If you purchased an extended service plan and you are not sure when it ends, call the store where you purchased the plan.</p>
        <h4 id="physical">Physical Damage</h4>
        <p>If your TV was severely damaged (such as being dropped down a flight of stairs) where the <a href="http://www.fixmyowntv.com/faqs#panel" target="_blank">panel</a>, bezel, and printed circuit boards are cracked or broken, then the TV is not worth fixing.</p>
        
        <h4 id="flooding">Flood Or Water Damage</h4>
        <p>See <a href="http://www.fixmyowntv.com/water" target="_blank">How to Fix a TV Damaged by Flooding or Water</a></p>
        <h4 id="lightning">Lightning Or Power Surge Damage</h4>
        <p>See <a href="http://www.fixmyowntv.com/lightning" target="_blank">How to Fix a TV Damaged by Lightning or a Power Surge</a></p>
        <h4>Should a Small TV Be Fixed?</h4>
        <p>If the television is much smaller than a 50-inch (125-cm), it may not be worth fixing considering the cost of the part that needs to be replaced. For example, if the display panel needs to be replaced, it might be almost equal to the cost of a new TV.</p>
        
        <h4>Should an Old TV Be Fixed?</h4>
        <p>If the TV is more than 10 years old it's probably not worth fixing (unless you're an antique collector), because parts may not be available for a TV that old. And even if they were, the longevity of the whole TV should be considered. It's like fixing an old car - as soon as you fix one thing, chances are something else will soon go wrong. To find the year that the TV was manufactured, check the label on the back side of the TV.</p>
        <h3>What Are Parts Going To Cost?</h3>
        <aside id='InLineAd' style='text-align:center; '></aside>
        <p>To give you an idea of how much TV parts will cost, here are the approximate cost ranges (in US dollars) of the most commonly replaced parts.</p>
        <table class="articleTable">
            <caption style="font-weight:bold; margin:15px;">Approximate Cost For TV Parts</caption>
            <tr>
                <td colspan="2" style="border-top:none;border-left:none;border-right:none;text-align:center;">Updated August 2018</td>
            </tr>
            <tr>
                <td >Bezels (frames) &amp; front assy.s</td>
                <td>$80 to $300</td>
            </tr>
            <tr>
                <td>Lamps for projection TVs</td>
                <td>$100 to $280</td>
            </tr>
            <tr>
                <td>LCD/LED display panels</td>
                <td>$170 to $450</td>
            </tr>
            <tr>
                <td>Light engines (optical blocks)</td>
                <td>$350 to $900</td>
            </tr>
            <tr>
                <td>Logic boards</td>
                <td>$100 to $250</td>
            </tr>
            <tr>
                <td>Main (or Signal) boards</td>
                <td>$70 to $250</td>
            </tr>
            <tr>
                <td>Plasma display panels (PDP)</td>
                <td>$250 to $550<br />(after core return)</td>
            </tr>
            <tr>
                <td>Power boards (or SMPS)</td>
                <td>$50 to $450</td>
            </tr>
            <tr>
                <td>Power inverters (LED/LCD)</td>
                <td>$50 to $200</td>
            </tr>
            <tr>
                <td>Small circuit boards<br />(such as Function &amp; IR<br />boards containing push-<br />buttons or touch-pads)</td>
                <td>$20 to $130</td>
            </tr>
            <tr>
                <td>Speakers</td>
                <td>$10 to $60</td>
            </tr>
            <tr>
                <td>T-CONN boards<br />(found in plasma TVs)</td>
                <td>$80 to $200</td>
            </tr>
            <tr>
                <td>Tuners</td>
                <td>$30 to $100</td>
            </tr>
            <tr>
                <td>X-main &amp; Y-main boards<br />(for plasma TVs)</td>
                <td>$70 to $250</td>
            </tr>
        </table>
        <br />
        <p>The articles in the <em><a href="#">Solution Center</a></em> can tell you if a part needs to be replaced. Click the blue buttons and find the symptom that most closely resembles the problem. If you need to replace something like a circuit board or some other part inside the television, then it’s a matter of whether the part is available, whether you can afford to purchase it, and whether you are willing to replace it yourself.</p>
        <p>See <a id="lnkVendors" href="http://www.fixmyowntv.com/parts" target="_self">Replacement Parts For TVs</a> to get specific pricing from parts dealers. You may also want to read <a id="lnkHow" href="http://www.fixmyowntv.com/orderparts" target="_self">How To Order TV Parts</a></p>
        <br />
        <h3>What is the Useful Life of a TV?</h3>
        <p>You should expect a TV to continue to run for a good number of years. Models that are well designed can last as many as fifteen years. But rapid technological advances can drive TVs to obsolescence much sooner. Nevertheless, like anything that is man-made, TVs will eventually break down; it's just a matter of time. So for the purpose of depreciation for business taxes, the determinable useful life of a TV should be 4 to 5 years.</p>
        <br />
    </section>
</article>
